<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <%- include('../partials/head') %>
</head>
<body class="bg-gray-50 text-gray-900 dark:bg-[#0f172a] dark:text-gray-100 font-sans antialiased selection:bg-eco-500 selection:text-white relative">
    
    <%- include('../partials/navbar') %>

    <main class="min-h-screen">
        <%- body %>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>